    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    i, cite, em, var, address, dfn {
        font-style: italic;
    }

    strong, b {
        font-weight: bold;
    }

    body {
        background-color: #f2f2f2;
        font-family: 'Kreon', sans-serif;
        font-size: 16px;
        color: #999;
        line-height: 1.3;
        text-shadow: #fff 1px 1px;
    }

    a {
        text-decoration: none;
        color: #FF4059;
    }
	
	a:hover { color: #00D486; }
  
  	h1 {
        font-family: 'Arvo', serif;
        font-size: 70px;
        color: #FF4059;
        text-shadow: 1px 1px #D11730,
                     2px 2px #D11730,
                     3px 3px #D11730,
                     4px 4px #D11730,
                     5px 5px #D11730,
                     6px 6px #D11730;
        display: inline;
    }

    .site-header div {
        display: block;
    }

    .site-header .subtitle {
        font-family: 'Arvo', serif;
        font-size: 20px;
        color: #FF4059;
        margin-left: 10px;
        text-transform: uppercase;
        text-decoration:underline;
    }

    h2 {
        font-family: 'Arvo', serif;
        font-size: 24px;
        
        margin: 10px 0 0px 0;
        color: #FF4059;
    }

    h3 {
        font-family: 'Arvo', serif;
        font-size: 17px;
		margin: 10px 0 5px 0;
        color: #616161;
		text-decoration:underline;
    }

    h2 a {
        text-decoration: inherit;
        color: inherit;
    }

    h1 .extra {
        text-shadow: 16px;
    }

    #container {
        position: relative;
        margin: 30px 0 0 60px;
    }

    #main {
        width: 700px;
    }

   	#main .about-me {margin: 20px 0 30px 0;}

    .list { margin-bottom:30px; }
    .list a { font-size: 17px; }
    .list li { list-style: none; }

    #main .social ul { margin: 20px 0 0 -20px; list-style: none; }
    #main .social li { margin-left:20px; float:left; }
    #main .social a {
        display:block;
        width:32px;
        height:32px;
        text-indent:-9999px;
        opacity: 0.4;
	}

    #main .social a:hover { opacity: 1.0; }
    #main .social .twitter { background-image:url(/img/twitter.png); }
    #main .social .facebook { background-image:url(/img/facebook.png); }
    #main .social .linkedin { background-image:url(/img/linkedin.png); }
	#main .social .google { background-image:url(/img/google.png); }
    #main .social .github { background-image:url(/img/github.png); }

    .contact  {
        margin-top: 70px;
    }

    /* Article */

    article {
        margin-bottom: 30px;
    }

    article header {
        margin-bottom: 15px;
    }

    article footer {
        margin-top: 15px;
    }

    article p {
        margin: 1em 0;
    }

    article p img {
        margin: 10px;
        display: inline;
        border: 1px solid #aaa;
    }

    article blockquote {
        color: #777;
        padding: 0 20px;
        margin: 0.5em 20px;
        border: 1px dashed #666;
    }

    article pre {
        background-color: #F8F8F8;
        border: 1px solid #CCC;
        font-size: 13px;
        line-height: 19px;
        overflow: auto;
        padding: 6px 10px;
        border-radius: 3px;
    }

    article aside {
        margin-top: 10px;
    }

    article .comments {
        margin-top: 10px;
        text-shadow: none;
    }
